/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #667583;
  color: #333;
  line-height: 1.6;
}

h1, h2 {
  text-align: center;
  color: #444;
  margin-bottom: 20px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

input[type="text"], 
input[type="number"] {
  padding: 10px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 220px;
  font-size: 14px;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border-color: #007bff;
  outline: none;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
}

form {
  max-width: 400px;
  margin: 20px auto;
  padding: 25px;
  background-color: #b75baa;
  border: 1px solid #586467;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

form:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

form h2 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
  border-color: rgb(204, 90, 208);
}

li {
  margin-bottom: 15px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, transform 0.2s;
}

li:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

li strong {
  padding-right: 10px;
  font-weight: bold;
  color: #007bff;
}

div {
  max-width: 800px;
  margin: 20px auto;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (max-width: 600px) {
  input[type="text"], 
  input[type="number"] {
    width: 100%;
    margin-left: 0;
  }

  form {
    padding: 20px;
  }

  li {
    padding: 20px;
  }

  h1, h2 {
    font-size: 18px;
  }
}
